.header {
	width: 69.3rem !important;
	height: 4rem !important;
	position: fixed !important;
	z-index: 99;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
}
.main-conatiner {
	height: 100%;
	display: flex;
}
.css-1x7skt0 {
	background-color: #f4f5fa !important;
	justify-content: center !important;
	box-shadow: none !important;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
	background-color: #f4f5fa !important;
	box-shadow: none !important;
	justify-content: center !important;
}
.header-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 0.5rem;
}
.menus-items {
	text-decoration: none;
	color: black;
	padding-right: 1.5rem;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
	background-color: #c5a7fe !important;
	transition: all 0.1s !important;
}
.css-l9sr4b-MuiBadge-root {
	margin-right: 16px !important;
}
.css-vpkae3 {
	padding-top: 16px !important;
	padding-bottom: 24px !important;
	padding-left: 15px !important;
	padding-right: 0px !important;
}
.css-5f9ccf {
	padding: 8px 20px !important;
}
.css-mtv83c {
	margin-left: 15px !important;
}
.css-16a9ube-MuiButtonBase-root-MuiMenuItem-root {
	font-size: 0.95rem !important;
}
.search-bar {
	margin: 0 15px !important;
}
/* .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
	top: 40px !important;
	left: 1120px !important;
} */
