@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	--sb-track-color: #c4c2c2;
	--sb-thumb-color: #9800ff;
	--sb-size: 8px;
	scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	background-color: #F4F5FA;
}

body::-webkit-scrollbar {
	width: var(--sb-size);
}

body::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 8px;
}

